@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<div id="contact" class="container">
    <div class="col-sm-4 col-md-5">
        <img src="~/Assets/images/caferoom.jpg" style="height:300px; width:400px;" />
    </div>
    <div class="col-sm-8 col-md-7">
        <h3>Peach Cafe</h3>
        <p>
            <br />
            123 Forest Drive<br />
            Toronto, ON<br />
            R3S 6D1<br />
            <a href="tel:+16471234567"><i class="fa fa-phone" aria-hidden="true"></i> (647)-123-4567</a>
        </p>
        <div id="socialicons">
        <a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://facebook.com"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="https://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
    </div>
    <div><h2>Location</h2></div>
    <div id="map"><img class="map" src="~/Assets/images/map.png" style="height: 300px; width: 500px"; /> </div>
    
</div>