@{
    ViewBag.Title = "Contact";
}

<h2> @ViewBag.Title </h2>
<div id="contact" class="container">
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <img id="about" src="/Assets/images/caferoom.jpg" />
        </div>

        <div class="col-sm-5 col-md-5">
        <h2>Peach Cafe</h2>
        <p>123 Patisserie Street
           Toronto, ON
           F3K T3O</p>
        <a href="tel:+16471234567"><i class="fa fa-phone" aria-hidden="true"></i> (647)-123-4567</a>
        </div>
       
    </div>
    <div class="row">
        <div class="col-sm-5 col-md-5"></div>
        <div class="col-sm-5 col-md-5">
            <div class="socialIcons">
                <a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://facebook.com"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href="https://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>       
    </div>
</div>