@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img id="jumbotron" src="~/Assets/images/home2.jpg" style="height: 600px; 
    width:900px; 
    margin-right:auto;
    margin-left:auto;
    align-content:center;"/>
</div>

