@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Assets/images/home2.jpg"/>
</div>

<div class="row">
    <div class="col-md-4">
        
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
        </div>
</div>