

body {
    width: 100%;
    padding-bottom: 20px;
    margin-left:auto;
    margin-right: auto;
}

ul {
    list-style: none;
    font-size: 30px;
}
#navigation{
    background-color: #eeaf00;
}

.navbar{
    background-color: #f6bc84;
    padding-bottom: 10px;
}

.navbar-header{
    height: 150px;
}

#navlinks{
    font-family: 'Pacifico', cursive;
    padding-top: 50px;
    font-size: 30px;
    height: 150px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


tr {
    border: 1px solid #000;
    line-height: 100px;
    
}

th, td {
    height: 100px;
    font-size: 20px;
    text-align: left;
}

/*Home Page*/
.jumbotron img {
    width: 700px;
    height: 500px;
}

/*Details Page*/
#details {
    font-size: 30px;
}
/*Cafe Page*/
#menu {
    text-align: center;
}
/*CONTACT PAGE CSS*/
#contact {
    font-size: 40px;
}
#contact img{
    height: 260px;
    width: 360px;
    
}

.socialicons{
    font-size: 100px;
}


