@using Assignment2_PeachCafe.Models
@model IEnumerable<MenuCourse>

@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>hello</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            
            @Html.ActionLink(Convert.ToString(@Html.DisplayFor(modelItem => item.Name)), "Details", new { id=item.MenuCourseId }) |
           
        </td>
    </tr>
}

</table>
