@using Assignment2_PeachCafe.Models
@model IEnumerable<MenuCourse>
@{
    ViewBag.Title = "Index";
}

<h2>View Menu</h2>
<div id="menu" class="container">
    <p>
        <ul>
            @foreach (MenuCourse item in Model)
            {
                <li>@Html.ActionLink(item.Name, "Browse", new { menucourse = item.Name })</li>
            }
        </ul>

    </p>
</div>


